*,
:after,
:before {
  box-sizing: inherit;
}

/**********TAG SELECTORS**********/

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #ffd7d7;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  letter-spacing: 0.1em;
}

h1 {
  color: #7c1717;
}

h2 {
  color: #7c1717;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(196, 196, 196);
  border-width: 5px;
  width: 100px;
}

/**********CLASS SELECTORS**********/

.pfp {
  width: 150px;
  height: 150px;
  display: block;
  margin: 35px auto;
  border-radius: 100%;
  filter: drop-shadow(4px 7px 2px #ddcece);
}

.links {
  display: block;
  max-width: 550px;
  margin: 0 auto 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.links .links:hover {
  background-color: #fff;
}

.links .links_first {
  border-bottom: 3px solid #E0D7FF;
  box-shadow: inset 0 -4px 0 #E0D7FF;
  border: 2px solid #E0D7FF;
  background-color: #E0D7FF;
}

.links .links_second {
  border-bottom: 3px solid #93dfb6;
  box-shadow: inset 0 -4px 0 #93dfb6;
  border: 2px solid #93dfb6;
  background-color: #93dfb6;
}

.links .links_third {
  border-bottom: 3px solid #ffcd7c;
  box-shadow: inset 0 -4px 0 #ffcd7c;

  border: 2px solid #ffcd7c;
  background-color: #ffcd7c;
}

.links .links_fourth {
  box-shadow: inset 0 -4px 0 #ffa093;

  border: 2px solid #ffa093;
  background-color: #ffa093;
}

.links .links_fifth {
  border-bottom: 3px solid #bedde8;
  box-shadow: inset 0 -4px 0 #bedde8;
  border: 2px solid #bedde8;
  background-color: #bedde8;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels .channels_item {
  flex: 5;
  margin-right: 5px;
  transition: transform 0.3s;
  color: #7c1717;
}

.channels_item:hover {
  transform: scale(1.25) rotate(1turn);
  transition: transform 1s;
}


/**********ID SELECTORS**********/